.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        width: 250px;
        img {
            width: 100%;
        }
    }
    &__official {
        font-size: 12px;
        line-height: 1.2;
        font-weight: 500;
        color: #ffffff;
        text-align: center;
        span {
            display: block;
            font-size: 18px;
            line-height: 1.2;
            font-weight: 700;
            color: #ffffff;
        }
    }
    &__phone {
        display: block;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 700;
        color: #ffffff;
        &:hover {
            color: #ffffff;
            text-decoration: none;
        }
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 700;
        color: #ffffff;
    }
}
@media (max-width: 576px) {
    .header {
        &__logo {
            width: 170px;
        }
        &__official {
            font-size: 10px;
            span {
                font-size: 16px;
            }
        }
        &__phone {
            font-size: 15px;
        }
        &__button {
            width: 135px;
            height: 27px;
            font-size: 10px;
        }
    }

}